@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto+Slab:wght@300&display=swap');

:root {
    --primary-color: #0762F5;
    --primary-color-dark: #0A23FF;
    --accent-color: #FFF8F0;
    --color-negro: #000000;
}

body
{
    font-family: 'Roboto Slab', Courier, monospace;
}
/*Estilos de la cabecera.*/
.fondo-color-texto
{
    background-color: var(--primary-color);
    color: var(--accent-color);
}

header
{
    font-size: 25px;
} 
/*Estilos del main.*/
.foto
{
    height: 200px;
    width: 200px;
}

h1
{
    font-family: 'Aboreto', cursive;
}

h2
{
    font-size: 28px;
}

.border-color-inferior-superior
{
    border-top: solid 1px var(--primary-color-dark);
    border-bottom: solid 1px var(--primary-color-dark);
    margin: 10px 0px;
}
/*Estilos del footer*/
footer
{
    font-size: 13px;
}